name: Nightly

on:
  schedule:
    - cron: 0 5 * * *
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  scorecard:
    uses: ./.github/workflows/scorecard.yaml

    permissions:
      contents: read
      security-events: write
      id-token: write
  trunk_upgrade:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: get_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: trunk-io/trunk-action/upgrade@e5f1a3f123a2440f9cd28e036495a1c1f2a20568 # v1.1.1
        with:
          token: ${{ steps.get_token.outputs.token }}
